<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Beans, Lima</key>
	<dict>
		<key>Spring</key>
		<string>March 1 - May 30</string>
		<key>Fall</key>
		<string>Aug 1 - Sep1 1</string>
		<key>Depth</key>
		<string>1/2 inch</string>
		<key>Space</key>
		<string>3-4 inches</string>
		<key>Harvest</key>
		<string>64 days</string>
		<key>Varieties</key>
		<string>Dixie Butterpea , Fordhook 242 (AAS), Henderson Bush, Jackson Wonder, Thorogreen.
Lima (Pole) Florida Speckled, King of Garden</string>
	</dict>
	<key>Beans, Snap</key>
	<dict>
		<key>Spring</key>
		<string>Feb 15 - May10</string>
		<key>Fall</key>
		<string>Aug 10 - Sept 10</string>
		<key>Depth</key>
		<string>1/2 inch</string>
		<key>Space</key>
		<string>2-3 inches</string>
		<key>Harvest</key>
		<string>50 days</string>
		<key>Varieties</key>
		<string>Blue Lake 274, Bronco, Contender, Derby (AAS), Festina, Lynx,  Magnum, Provider, Roma II, Royal Burgundy, Strike, Valentino
Snap (Pole) Blue Lake, Kentucky Blue (AAS), Kentucky Wonder 191, McCaslin, Rattlesnake (striped), Yardlong Asparagus Bean</string>
	</dict>
	<key>Beets</key>
	<dict>
		<key>Spring</key>
		<string>Jan 15 - Feb 28</string>
		<key>Fall</key>
		<string>Aug 15 - Oct 1</string>
		<key>Depth</key>
		<string>1/4 inch</string>
		<key>Space</key>
		<string>2-4 inches</string>
		<key>Harvest</key>
		<string>58 days</string>
		<key>Varieties</key>
		<string></string>
	</dict>
	<key>Broccoli</key>
	<dict>
		<key>Spring</key>
		<string>wait till July</string>
		<key>Fall</key>
		<string>July 15 - Sept 1</string>
		<key>Depth</key>
		<string>1/8 inch</string>
		<key>Space</key>
		<string>20 inches</string>
		<key>Harvest</key>
		<string>80 days</string>
		<key>Varieties</key>
		<string></string>
	</dict>
	<key>Brussels Sprouts</key>
	<dict>
		<key>Spring</key>
		<string>July 15 - Sept 1</string>
		<key>Fall</key>
		<string>July 15 - Sept 1</string>
		<key>Depth</key>
		<string>1/2 inch</string>
	</dict>
	<key>Cabbage</key>
	<dict>
		<key>Spring</key>
		<string>Oct 1 - Jan 30</string>
		<key>Fall</key>
		<string>July 1 - Sep 15</string>
		<key>Depth</key>
		<string>1/8 inch</string>
	</dict>
	<key>Cantaloupe</key>
	<dict>
		<key>Spring</key>
		<string>March 1 - Aug 1</string>
		<key>Fall</key>
		<string>March 1 - Aug 1</string>
		<key>Depth</key>
		<string>1/8 inch</string>
		<key>Space</key>
		<string></string>
		<key>Harvest</key>
		<string></string>
		<key>Varieties</key>
		<string></string>
	</dict>
	<key>Carrots</key>
	<dict>
		<key>Spring</key>
		<string>Jan 15 - Feb 15</string>
		<key>Fall</key>
		<string>Sept 1 - Nov 1</string>
		<key>Depth</key>
		<string>1/8 inch</string>
	</dict>
	<key>Cauliflower</key>
	<dict>
		<key>Spring</key>
		<string>Jan 15 - Feb 15</string>
		<key>Fall</key>
		<string>Aug 1 - Sept 1</string>
		<key>Depth</key>
		<string>1/8 inch</string>
	</dict>
	<key>Celery</key>
	<dict>
		<key>Spring</key>
		<string>wait till Fall</string>
		<key>Fall</key>
		<string>Oct 1 - Nov 1</string>
		<key>Depth</key>
		<string>1/8 inch</string>
	</dict>
	<key>Chard, Swiss</key>
	<dict>
		<key>Spring</key>
		<string>Jan 15 - May 1</string>
		<key>Fall</key>
		<string>Aug 15 - Oct 1</string>
		<key>Depth</key>
		<string>1/4 inch</string>
	</dict>
	<key>Chinese Cabbage</key>
	<dict>
		<key>Spring</key>
		<string>Jan 15 - Feb 15</string>
		<key>Fall</key>
		<string>July 15 - Oct 1</string>
		<key>Depth</key>
		<string>1/2</string>
	</dict>
	<key>Collards</key>
	<dict>
		<key>Spring</key>
		<string>March 15 - October 1</string>
		<key>Fall</key>
		<string>March 15 - October 1</string>
		<key>Depth</key>
		<string>1/8 inch</string>
	</dict>
	<key>Corn, Sweet</key>
	<dict>
		<key>Spring</key>
		<string>Feb 15 - May 15</string>
		<key>Fall</key>
		<string>Feb 15 - May 15</string>
		<key>Depth</key>
		<string>1/2 inch</string>
	</dict>
	<key>Cucumbers</key>
	<dict>
		<key>Spring</key>
		<string>March 1 - Sept 1</string>
		<key>Fall</key>
		<string>March 1 - Sept 1</string>
		<key>Depth</key>
		<string>1/4 inch</string>
	</dict>
	<key>Eggplant</key>
	<dict>
		<key>Spring</key>
		<string>Jan 1 - June 1</string>
		<key>Fall</key>
		<string>Jan 1 - June 1</string>
		<key>Depth</key>
		<string>1/8 inch</string>
	</dict>
	<key>Garlic</key>
	<dict>
		<key>Spring</key>
		<string></string>
		<key>Fall</key>
		<string>Oct 1 - Nov 30</string>
		<key>Depth</key>
		<string>1 inch</string>
	</dict>
	<key>Kohlrabi</key>
	<dict>
		<key>Spring</key>
		<string>Jan 1 - Mar 30</string>
		<key>Fall</key>
		<string>Aug 15 - Oct 30</string>
		<key>Depth</key>
		<string>1/8 inch</string>
	</dict>
	<key>Lettuce</key>
	<dict>
		<key>Spring</key>
		<string>Jan 1 - Jan 31</string>
		<key>Fall</key>
		<string>Aug 15 - Sep 30</string>
		<key>Depth</key>
		<string>1/8 inch</string>
	</dict>
	<key>Mustard Greens</key>
	<dict>
		<key>Spring</key>
		<string>Aug 1 - March 15</string>
		<key>Fall</key>
		<string>Aug 1 - March 15</string>
		<key>Depth</key>
		<string>1/8 inch</string>
	</dict>
	<key>Okra</key>
	<dict>
		<key>Spring</key>
		<string>March 1 - Aug 1</string>
		<key>Fall</key>
		<string>March 1 - Aug 1</string>
		<key>Depth</key>
		<string>1/2 inch</string>
	</dict>
	<key>Onions, Leeks</key>
	<dict>
		<key>Spring</key>
		<string></string>
		<key>Fall</key>
		<string>Sept 1 - Oct 15</string>
		<key>Depth</key>
		<string>1/8 inch</string>
	</dict>
	<key>Peanuts</key>
	<dict>
		<key>Spring</key>
		<string>April 1 - June 15</string>
		<key>Fall</key>
		<string></string>
		<key>Depth</key>
		<string>1 inch</string>
	</dict>
	<key>Peas, Engish</key>
	<dict>
		<key>Spring</key>
		<string>Dec 15 - Jan 31</string>
		<key>Fall</key>
		<string>Sept 1 - Sept 15</string>
		<key>Depth</key>
		<string>1/2 inch</string>
	</dict>
	<key>Peas, Southern</key>
	<dict>
		<key>Spring</key>
		<string>March 1 - Aug 10</string>
		<key>Fall</key>
		<string>March 15 - Aug 10</string>
		<key>Depth</key>
		<string>1/2 inch</string>
	</dict>
	<key>Peppers, Hot</key>
	<dict>
		<key>Spring</key>
		<string>Jan 1 - May 15</string>
		<key>Fall</key>
		<string></string>
		<key>Depth</key>
		<string>1/8 inch</string>
	</dict>
	<key>Peppers, Bell</key>
	<dict>
		<key>Spring</key>
		<string>Jan 15 - Feb 28</string>
		<key>Fall</key>
		<string>June 5 - July 5</string>
		<key>Depth</key>
		<string>1/8 inch</string>
	</dict>
	<key>Potatoes, Irish</key>
	<dict>
		<key>Spring</key>
		<string>Jan 20 - Feb 28</string>
		<key>Fall</key>
		<string>Aug 15 - Sept 15</string>
		<key>Depth</key>
		<string>4 inches</string>
	</dict>
	<key>Potatoes, Sweet</key>
	<dict>
		<key>Spring</key>
		<string>Aprl 10 - July 15</string>
		<key>Fall</key>
		<string></string>
		<key>Depth</key>
		<string>use plants</string>
	</dict>
	<key>Pumpkins</key>
	<dict>
		<key>Spring</key>
		<string></string>
		<key>Fall</key>
		<string>Mar 15 - Sept 15</string>
		<key>Depth</key>
		<string>1/2 inch</string>
	</dict>
	<key>Radishes</key>
	<dict>
		<key>Spring</key>
		<string>Jan 1 - March 31</string>
		<key>Fall</key>
		<string>Sept 1 - Nov 1</string>
		<key>Depth</key>
		<string>1/8 inch</string>
	</dict>
	<key>Summer Squash</key>
	<dict>
		<key>Spring</key>
		<string>March 1 - Aug 15</string>
		<key>Fall</key>
		<string>March 1 - Aug 15</string>
		<key>Depth</key>
		<string>1/8 inch</string>
	</dict>
	<key>Tomatoes</key>
	<dict>
		<key>Spring</key>
		<string>Jan 1 - March 15</string>
		<key>Fall</key>
		<string>Jun 1 - July 1</string>
		<key>Depth</key>
		<string>1/8 inch</string>
	</dict>
	<key>Turnips</key>
	<dict>
		<key>Spring</key>
		<string>Aug 1 - Feb 28</string>
		<key>Fall</key>
		<string>Aug 1 - Feb 28</string>
		<key>Depth</key>
		<string>1/8 inch</string>
	</dict>
	<key>Watermelon</key>
	<dict>
		<key>Spring</key>
		<string>March 15 - Aug 1</string>
		<key>Fall</key>
		<string>March 15 - Aug 1</string>
		<key>Depth</key>
		<string>1/2 inch</string>
	</dict>
</dict>
</plist>
